.footer {
  width: 100%;
  padding: 50px 20px;
  background: @2sec-block-bg-color;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  @media (max-width: @mobile-width) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer__info {
  max-width: 255px;

  &--map {
    flex-grow: 1;
    max-width: none;
    width: 100%;
    height: 250px;
    background-image: url('./../../images/footer__map-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.footer__map {
  width: 100%;
  height: 250px;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: @standart-black;
  margin-bottom: 10px;

  @media (max-width: @tablet-width) {
    text-align: center;
  }
}

.footer__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: @standart-black;
  margin-bottom: 10px;

  @media (max-width: @tablet-width) {
    text-align: center;
  }
}

.footer__adress-icon {
  height: 15px;
  width: 15px;
  margin-left: 4px;
}

.footer__adress-link {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @standart-black;
  }
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: @sub-text-color;

  &--legal-info {
    margin-top: 8px ;
  }

  @media (max-width: @tablet-width) {
    text-align: center;
  }
}

.footer__rights {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 20px 20px;
  margin-top: 20px;
  border-top: 1px solid @decor-border-color;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: @sub-text-color;
}
