.header {
  width: 100%;
  height: min-content;
  background-color: transparent;
}

.header__wrap {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(161,161,161, 1);
}
