.skills {
  width: 100%;
  padding: 100px 20px;
}

.skills__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.skills__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.skills__list {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.skills__item {
  width: 200px;
  position: relative;
  list-style: none;
}

.skills__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-110%, -50%);
}

.skills__skill {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.skills__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
