.skills {
  width: 100%;
  padding: 100px 20px;
}

.skills__title {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.skills__subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.skills__list {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.skills__item {
  width: 200px;
  position: relative;
  list-style: none;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 15px;
  grid-row-gap: 5px;
}

.skills__skill {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: @standart-black;
}

.skills__text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  grid-column-start: 1;
  grid-column-end: -1;
}
