.skills {
  width: 100%;
  padding: @standart-top-bottom-padding @standart-side-padding;

  @media (max-width: @tablet-width) {
    padding: @standart-top-bottom-mobile-padding @standart-side-padding;
  }
}

.skills__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-row-gap: 20px;
  align-content: center;
  justify-self: center;
}

.skills__title {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: @grey-title;

  @media (max-width: @tablet-width) {
    font-size: 30px;
    line-height: 33px;
  }
}

.skills__subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: @sub-text-color;
}

.skills__list {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;

  @media (max-width: @tablet-width) {
    padding: 10px 0 0 0;
  }
}

.skills__item {
  width: 200px;
  position: relative;
  list-style: none;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 15px;
  grid-row-gap: 5px;
}

.skills__skill {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: @standart-black;
}

.skills__text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: @sub-text-color;
  grid-column-start: 1;
  grid-column-end: -1;
}
