.sys-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: @standart-white;
}

.sys-cover__wrap {
	padding: 120px @standart-side-padding @standart-top-bottom-padding @standart-side-padding;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 40px;
}

.sys-cover__title {
	font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: @standart-black;

  @media (max-width: @mobile-width) {
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
  }
}

.sys-cover__sub-title {
	font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;

  color: @standart-black;

  @media (max-width: @mobile-width) {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }
}
