.systems {
  width: 100%;
  padding: 60px 20px 100px 20px;

  background: rgb(80,77,194);
  background: linear-gradient(180deg, rgba(80,77,194,1) 0%, rgba(95,18,208,0.7903536414565826) 70%, rgba(255,255,255,1) 70%);


}

.systems__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.systems__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: @standart-white;
}

.systems__sub-title {
  max-width: 60%;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  color: @standart-white;
}

.sys-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sys-list__item {
  display: flex;
}

.sys-list__img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}

.sys-info {
  width: 100%;
}

.sys-info__wrap {
  width: 100%;
  padding: 30px 20px;
  background-color: @standart-white;

  border-radius: 50px;
  box-shadow:  21px 21px 41px #8b8b8b,
               -21px -21px 41px #ffffff;
}
