.systems {
  width: 100%;
  padding: @standart-top-bottom-padding @standart-side-padding;

  background-image: url('../images/systems/systems__background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: @tablet-width) {
    padding: @standart-top-bottom-mobile-padding @standart-side-mobile-padding;
  }
}

.systems__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.systems__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: @mobile-width) {
    justify-content: center;
  }
}

.systems__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: @standart-white;
  font-family: 'Rubik', sans-serif;

  @media (max-width: @mobile-width) {
    margin-bottom: 20px;
  }
}

.sys-list {
  width: 100%;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  list-style: none;

  border-bottom: 1px solid @decor-border-color;

  @media (max-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    border-bottom: none;
  }
}

.sys-list__item {
  width: 100%;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 15px;
  border-radius: 13px;
  background-color: rgba(22, 22, 22, 0.8);


  @media (max-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    "title title title"
    "img text text"
    "img text text"
    "img link link"
    ;
  }

  @media (max-width: @mobile-width) {
    width: 100%;
    padding: 30px 10px;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    "title"
    "img"
    "text"
    "link"
    ;
  }
}

.sys-list__img {
  display: flex;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.sys-list__image-link {
  border-radius: 13px;
  width: 100%;

  @media (max-width: @tablet-width) {
    grid-area: img;
  }
}

.sys-list__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Rubik', sans-serif;
  color: @standart-white;

  @media (max-width: @tablet-width) {
    grid-area: title;
  }
}

.sys-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: @standart-white;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: @tablet-width) {
    grid-area: text;
  }
}

.sys-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  font-family: 'Open Sans', sans-serif;
  text-decoration-line: underline;
  color: @standart-white;

  &:hover,
  &:focus {
    color: @main-color;
  }

  @media (max-width: @tablet-width) {
    grid-area: link;
  }
}
